## Assignment - 1

### 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

1. * 
2. 'hello'
3. -87.8
4. - 
5. /
6. +	
7. 6

#### Answer 1
1. Integer: 6
2. Float: -87.8
3. String: 'hello'
4. Expressions: *,-,/ and .

### 2. What is the difference between string and variable?

#### Answer 2

a) Variable: It is a space that we create to store the data in it, the data stored in a variable can be a string, integer, float etc. and according to that the type of variable changes. 

eg: A = "ineuron" , here "A" is a variable in which "ineuron" is stored. 

b) String: It is a data type that we store in a variable. In above example "ineuron" is a string data type.

### 3. Describe three different data types.

#### Answer 3

1. int data type : It holds positive and negative whole numbers. Eg. -1,-2,-4,1,2,3,4 etc.
2. float data type : It represents real numbers, both positive and negative. Eg. - 1, 2, 2.5, 3.5365, 6.432532 etc.
3. string data type : Data like "ineuron", "ram" etc are string data types. String data type have length, it means we can check the length of string data type using built in len function.

### 4. What is an expression made up of? What do all expressions do?

#### Answer 4

Expression is a combination of operators and varianle which is formed to produce some other values.

In [13]:
## Example- 
## Operator - + (sum)
## Varbales "a" and "b"
## Value "c"

## Expression 

a = 2
b = 5

c = a+b

print(c)

7

### 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

#### Answer 5

Expression is formed to evaluates or produce a value (what is being shown in above problem) but statement is used to create a variable or displaying a value

### 6. After running the following code, what does the variable bacon contain?
#### bacon = 22
#### bacon + 1

#### Answer 6

Variable bacon will contain same value 22 as contained in the very begining. It is beacuae in the second statement bacon+1 nothing is saved in varibale bacon, hence value is not changed.

In [14]:
bacon = 22
bacon +1

23

In [15]:
bacon

22

### 7. What should the values of the following two terms be?
#### 'spam' + 'spamspam'
#### 'spam' * 3

#### Answer 7

The values for both the expressions will be same. Please have a look at the executions below.

In [16]:
"spam" + "spamspam"

'spamspamspam'

In [17]:
"spam"*3

'spamspamspam'

### 8. Why is eggs a valid variable name while 100 is invalid?

#### Answer 8

It is because variable can't start from an integer or float. If it is needed to name a variable in form of an integer we can use _ in the begining of the integer, then the varibale will start as "_100" which eventually becomes a string.

In [20]:
### Example

100 = 6

SyntaxError: cannot assign to literal (2402410718.py, line 3)

In [21]:
_100 = 6

### 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

#### Answer 9

integer -> int()

float -> float()

string -> str()

### 10. Why does this expression cause an error? How can you fix it?

#### 'I have eaten ' + 99 + ' burritos.'

#### Answer 10

By putting 99 into quotes and converting int as string. It is because concatination is not possible for a mix of int and str data types.

In [25]:
## Example

'I have eaten' + " " + '99' " " + 'burritos.'

'I have eaten 99 burritos.'